<nav class="navbar navbar-default nav-onLoad">

  <div class="navbar-header">

      <a class="navbar-brand" href="#/">Brand</a>

  </div>

  <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="#/profile" class="logAndReg">Profile</a></li>
    <li role="presentation" class="active"><a href="#/browse" class="logAndReg">Browse</a></li>
    <li role="presentation"><a href="#/createrecipe" class="logAndReg">Create a Recipe</a></li>
    <li role="presentation"><a href="#/createtechnique" class="logAndReg">Create a Technique</a></li>
  </ul>

</nav>

<div class="container-fluid">
  <div class="row">
    
    <div class="col-xs-12 col-sm-6">
      <div class="col-xs-4 col-sm-12">
        <input type="text" class="pull-right" placeholder="Search Recipes">
        <h2>Recipes</h2>
        <ul class="list-inline">
          <li>Recipes</li>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="col-xs-4 col-sm-12">
        <input type="text" class="pull-right" placeholder="Search Techniques">
        <h2>Techniques</h2>
        <ul class="list-inline">
          <li>user</li>
        </ul>
      </div>
    </div>
  </div>
</div>