<nav class="navbar navbar-default nav-onLoad">

  <div class="navbar-header">

      <a class="navbar-brand" href="#/">Brand</a>

  </div>

  <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="#/profile" class="logAndReg">Profile</a></li>
    <li role="presentation"><a href="#/browse" class="logAndReg">Browse</a></li>
    <li role="presentation"><a href="#/createrecipe" class="logAndReg">Create a Recipe</a></li>
    <li role="presentation" class="active"><a href="#/createtechnique" class="logAndReg">Create a Technique</a></li>
  </ul>

</nav>

<div class="container-fluid">
  <div class="superior-form-container">
<div class="container-fluid  form-container">
  <form novalidate class="simple-form">

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="join-team-container text-center">
            <h1 class="join-team">New Technique</h1>
          </div>
        </div>
      
    </div>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="email-container">
            <label for="cuisineName">Technique Name:</label>
            <input type="text" class="form-control" placeholder="Quick Pickle" ng-model="user.techniqueName">
          </div>
        </div>
      
    </div>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="email-container">
            <label for="cuisineName">Difficutly:</label>
            <input type="text" class="form-control" placeholder="Novice, Experienced, Professional" ng-model="user.techniqueDifficulty">
          </div>
        </div>
      
    </div>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="email-container">
            <label for="cuisineName">Instructions</label>
            <textarea class="form-control" placeholder="Enter Technique Instructions" ng-model="user.techniqueInstructions">
            </textarea>
          </div>
        </div>
      
    </div>

    <div class="row">
      <div class="col-xs-5 col-md-12 col-lg-12 text-right">
        <button type="button" class="btn btn-default btn-lg pull-right" ng-click="createTech()">Create</button>
      </div>
    </div>

  </form>
</div>