<nav class="navbar navbar-default nav-onLoad">

  <div class="navbar-header">

      <a class="navbar-brand" href="#/">chefConnect</a>

  </div>

  <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="#/userprofile" class="logAndReg">Profile</a></li>
    <li role="presentation"><a href="#/browse" class="logAndReg">Browse</a></li>
    <li role="presentation" class="active"><a href="#/createrecipe" class="logAndReg">Create a Recipe</a></li>
    <li role="presentation"><a href="#/createtechnique" class="logAndReg">Create a Technique</a></li>
  </ul>

</nav>

<div class="container-fluid">
  <div class="superior-form-container">
<div class="container-fluid  form-container">
  <form>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="join-team-container text-center">
            <h1 class="join-team">New Recipe</h1>
          </div>
        </div>
      
    </div>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="email-container">
            <label for="newUserEmal">Recipe Name:</label>
            <input type="text" class="form-control" placeholder="Chicken Parm" ng-model="user.recipeName">  
          </div>
        </div>
      
    </div>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="email-container">
            <label for="cuisineName">Cuisine Name:</label>
            <input type="text" class="form-control" placeholder="Cajun" ng-model="user.cuisineName">
          </div>
        </div>
      
    </div>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="email-container">
            <label for="cuisineName">Prep Time:</label>
            <input type="text" class="form-control" placeholder="20 minutes" ng-model="user.prepTime">
          </div>
        </div>
      
    </div>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="email-container">
            <label for="cuisineName">Cook Time:</label>
            <input type="text" class="form-control" placeholder="40 minutes" ng-model="user.cookTime">
          </div>
        </div>
      
    </div>

    <div class="row">

      <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="email-container">
            <label for="cuisineName">Ingredients: </label>
            <textarea class="form-control" placeholder="Enter a list separated by commas: 2 Chicken Breast, 4 Eggs..." ng-model="user.recipeIngredients"></textarea>
          </div>
      </div>

    </div>

    <div class="row">

      <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="email-container">
            <label for="cuisineName">Instructions: </label>
            <textarea class="form-control" placeholder="Place the 2 Chicken breast in a deep dish pan..." ng-model="user.cookingInstructions"></textarea>
          </div>
      </div>

    </div>

    <div class="row">

      <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="email-container">
            <label for="cuisineName">Needed Utensils & Hardware: </label>
            <textarea class="form-control" placeholder="Enter a list separated by commas: Smoker, 12-inch non-stick skillet..." ng-model="user.utensils"></textarea>
          </div>
      </div>

    </div>

    <div class="row">

      <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="email-container">
            <span class="glyphicon glyphicon-eye-open eye-glyph" aria-hidden="true"></span>
            <label class="radio-inline"><input type="radio" name="rec-availability" ng-model="user.availability" value="true">Public</label>
            <span class="glyphicon glyphicon-eye-close eye-glyph" aria-hidden="true"></span>
            <label class="radio-inline"><input type="radio" name="rec-availability" ng-model="user.availability" value="false">Private</label>
          </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-5 col-md-12 col-lg-12 text-right">
        <button class="btn btn-default btn-lg pull-right" ng-click="createRec(user)">Create</button>
      </div>
    </div>

  </form>
</div>