<nav class="navbar navbar-default nav-onLoad">

  <div class="navbar-header">

      <a class="navbar-brand" href="#/">Brand</a>

  </div>

  <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="#/profile" class="logAndReg">Profile</a></li>
    <li role="presentation"><a href="#/browse" class="logAndReg">Browse</a></li>
    <li role="presentation" class="active"><a href="#/createrecipe" class="logAndReg">Create a Recipe</a></li>
    <li role="presentation"><a href="#/createtechnique" class="logAndReg">Create a Technique</a></li>
  </ul>

</nav>

<div class="container-fluid">
  <div class="superior-form-container">
<div class="container-fluid  form-container">
  <form>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-12 col-lg-12">
          <div class="join-team-container text-center">
            <h1 class="join-team">New Recipe</h1>
          </div>
        </div>
      
    </div>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-4 col-lg-4">
          <div class="email-container">
            <label for="newUserEmal">Recipe Name:</label>
            <input type="text" class="form-control" placeholder="Chicken Parm">  
          </div>
        </div>

        <div class="form-group col-xs-12 col-md-4 col-lg-4">
          <div class="email-container">
            <label>Ingredients:</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="2 Chicken Breast">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus
"></span></button>
              </span>
            </div> 
          </div>
        </div>

        <div class="form-group col-xs-12 col-md-4 col-lg-4">
          <div class="email-container">
            <label>Utensils:</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="1 12-inch non-stick skillet">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus
"></span></button>
              </span>
            </div> 
          </div>
        </div>
      
    </div>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-4 col-lg-4">
          <div class="email-container">
            <label for="cuisineName">Cuisine Name:</label>
            <input type="text" class="form-control" placeholder="Cajun">
          </div>
        </div>
      
    </div>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-4 col-lg-4">
          <div class="email-container">
            <label for="cuisineName">Prep Time:</label>
            <input type="text" class="form-control" placeholder="20 minutes">
          </div>
        </div>
      
    </div>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-4 col-lg-4">
          <div class="email-container">
            <label for="cuisineName">Cook Time:</label>
            <input type="text" class="form-control" placeholder="40 minutes">
          </div>
        </div>
      
    </div>

    <div class="row">
      <div class="col-xs-5 col-md-4 col-lg-4 text-right">
        <a href="#/userprofile" type="button" class="btn btn-default btn-lg pull-right">Create</a>
      </div>
    </div>

  </form>
</div>