<nav class="navbar navbar-default nav-onLoad">

  <div class="navbar-header">

      <a class="navbar-brand" href="#/">Brand</a>

  </div>

  <ul class="nav nav-pills pull-right">
    <li role="presentation" class="active"><a href="#/profile" class="logAndReg">Profile</a></li>
    <li role="presentation"><a href="#/browse" class="logAndReg">Browse</a></li>
    <li role="presentation"><a href="#/createrecipe" class="logAndReg">Create a Recipe</a></li>
    <li role="presentation"><a href="#/createtechnique" class="logAndReg">Create a Technique</a></li>
  </ul>

</nav>

<div class="container-fluid name-container text-center">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-10">
      <h1>Your Name Here</h1>
    </div>
  </div>
</div>

<div class="container-fluid profile-container">

  <div class="row">
    <div class="col-xs-12 col-md-2 col-lg-2 profile-photo-container pale-blue-border">
      <p>Profile Image Here</p>
      <p>Profile Image Here</p>
      <p>Profile Image Here</p>
      <p>Profile Image Here</p>
      <p>Profile Image Here</p>
      <p>Profile Image Here</p>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-8 about-you-container pale-blue-border">
      <h3>About You:</h3>
      <p>Lorem ipsum dolor sit amet, te doming civibus vel. Fugit congue suscipiantur vis cu, sint qualisque rationibus usu no. Eos id possim fabellas cotidieque, in soluta definiebas usu. Harum habemus placerat est no. Admodum gubergren usu ei, pri ea essent detracto, adipisci antiopam theophrastus ei pro.

Autem intellegebat his et. Ei vim quot option equidem, has epicurei posidonium conclusionemque ut. Id vim dolor doming ocurreret. Ad mel oblique nonumes constituam.

An has autem probatus, ut inciderint conclusionemque has. Tempor eloquentiam adversarium no cum, in nec nonumy eripuit detracto. Vim an dicat zril luptatum, an summo neglegentur mel. Ne graeci aliquam dolorem qui, te vidit modus movet vim, duo petentium pertinacia at.

Meis evertitur vis ut, eam iudico eripuit sadipscing no, tacimates evertitur te eum. Mei ea ferri cetero volutpat, eum dolorum cotidieque ei. Ne pericula temporibus nam. Eripuit epicurei similique eum ut. Pro mazim nobis ex, mel ad regione detraxit</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-10 business-info-container pale-blue-border">
      <h3>Business Info:</h3>
      <p>Lorem ipsum dolor sit amet, te doming civibus vel. Fugit congue suscipiantur vis cu, sint qualisque rationibus usu no. Eos id possim fabellas cotidieque, in soluta definiebas usu. Harum habemus placerat est no. Admodum gubergren usu ei, pri ea essent detracto, adipisci antiopam theophrastus ei pro.

Autem intellegebat his et. Ei vim quot option equidem, has epicurei posidonium conclusionemque ut. Id vim dolor doming ocurreret. Ad mel oblique nonumes constituam.

An has autem probatus, ut inciderint conclusionemque has. Tempor eloquentiam adversarium no cum, in nec nonumy eripuit detracto. Vim an dicat zril luptatum, an summo neglegentur mel. Ne graeci aliquam dolorem qui, te vidit modus movet vim, duo petentium pertinacia at.

Meis evertitur vis ut, eam iudico eripuit sadipscing no, tacimates evertitur te eum. Mei ea ferri cetero volutpat, eum dolorum cotidieque ei. Ne pericula temporibus nam. Eripuit epicurei similique eum ut. Pro mazim nobis ex, mel ad regione detraxit</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-5 col-lg-5 pub-recipe-container pale-blue-border">
      <input type="text" class="pull-right search-repo-inputs" placeholder="Search Public Recipes">
      <h4>Public Recipes</h4>
        <ul>
          <li>Recipe Name</li>
        </ul>
    </div>

    <div class="col-xs-12 col-md-5 col-lg-5 pri-recipe-container pale-blue-border">
      <input type="text" class="pull-right search-repo-inputs" placeholder="Search Private Recipes">
      <h4>Private Recipes</h4>
        <ul>
          <li>Recipe Name</li>
        </ul>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 col-lg-10 techniqu-container pale-blue-border">
      <input type="text" class="pull-right search-repo-inputs" placeholder="Search Techniques">
      <h4>Techniques</h4>
        <ul>
          <li>Technique Name</li>
        </ul>
    </div>
  </div>

</div>
