<nav class="navbar navbar-default nav-onLoad">

  <div class="navbar-header">

      <a class="navbar-brand" href="#/">Brand</a>

  </div>

  <ul class="nav nav-pills pull-right">
    <li role="presentation" class="active"><a href="#/profile" class="logAndReg">Profile</a></li>
    <li role="presentation"><a href="#/browse" class="logAndReg">Browse</a></li>
    <li role="presentation"><a href="#/createrecipe" class="logAndReg">Create a Recipe</a></li>
    <li role="presentation"><a href="#/createtechnique" class="logAndReg">Create a Technique</a></li>
  </ul>

</nav>

<div class="container-fluid name-container text-center">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-10">
      <h1 class="enter-name" ng-click="changeUserBool()">{{obj.userName}}</h1>
      <input type="text" ng-if="userNameInput" class="add-name-input" ng-change="userChange()" ng-model="$parent.userName">
    </div>
  </div>
</div>

<div class="container-fluid profile-container">

  <div class="row">
    <div class="col-xs-12 col-md-2 col-lg-2 profile-photo-container pale-blue-border">
      <p>Profile Image Here</p>
      <p>Profile Image Here</p>
      <p>Profile Image Here</p>
      <p>Profile Image Here</p>
      <p>Profile Image Here</p>
      <p>Profile Image Here</p>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-8 about-you-container pale-blue-border">
      <h3 class="pointer" ng-click="changeAboutBool()">About You:</h3>
      <p class="pointer" ng-click="changeAboutBool()">{{obj.aboutYou}}</p>
      <textarea ng-if="aboutYouInput" class="add-name-input form-control" ng-change="userChange()" ng-model="$parent.aboutYou">
      </textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-10 business-info-container pale-blue-border">
      <h3 class="pointer" ng-click="changeBusinessBool()">Business Info:</h3>
      <p class="pointer" ng-click="changeBusinessBool()">{{obj.business}}</p>
      <textarea ng-if="businessInput" class="add-name-input form-control" ng-change="userChange()" ng-model="$parent.business">
      </textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-5 col-lg-5 pub-recipe-container pale-blue-border">
      <input type="text" class="pull-right search-repo-inputs" placeholder="Search Public Recipes">
      <h4>Public Recipes</h4>
        <ul>
          <li>Recipe Name</li>
        </ul>
    </div>

    <div class="col-xs-12 col-md-5 col-lg-5 pri-recipe-container pale-blue-border">
      <input type="text" class="pull-right search-repo-inputs" placeholder="Search Private Recipes">
      <h4>Private Recipes</h4>
        <ul>
          <li>Recipe Name</li>
        </ul>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 col-lg-10 techniqu-container pale-blue-border">
      <input type="text" class="pull-right search-repo-inputs" placeholder="Search Techniques">
      <h4>Techniques</h4>
        <ul>
          <li>Technique Name</li>
        </ul>
    </div>
  </div>

</div>
