<nav class="navbar navbar-default nav-onLoad">

  <div class="navbar-header">

      <a class="navbar-brand" href="#">Brand</a>

  </div>

  <ul class="nav nav-pills pull-right">
    <li role="presentation" class="active"><a href="#" class="logAndReg">Login</a></li>
    <li role="presentation"><a href="#" class="logAndReg">Register</a></li>
  </ul>

</nav>

<div class="container-fluid food-image-div">

  <div class="row text-center">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <h1 class="chefconnect-welcome">Welcome To chefConnect!</h1>
    </div>
  </div>

  <form>

    <div class="row">
      <div class="col-xs-5 col-md-5 col-lg-5 pull-right">
        <div class="form-group">
          <label for="exampleInputEmail1" class="welcome-input">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5 col-md-5 col-lg-5 pull-right">
        <div class="form-group">
          <label for="exampleInputPassword1" class="welcome-input">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
      </div>
    </div>
  </form>

</div>

<div class="container-fluid why-chefconnect"> 

  <h1>Why you should join chefConnect.</h1>
  <p class="lead">Fast and easy collaboration with others who enjoy cooking.</p>

  <div class="row">

    <div class="col-md-6 col-lg-6">

      <blockquote>
      <p>Competition has been shown to be useful up to a certain point and no further, but cooperation, which is the thing we must strive for today, begins where competition leaves off.</p>
      <footer>Franklin D. Roosevelt</footer>
      </blockquote>
      
      <h5>chefConnect is designed to make communication and cooperation between skilled professionals effortless.</h5>

    </div>

    <div class="col-md-6 col-lg-6">

      <blockquote>
      <p>What is the recipe for successful achievement? To my mind there are just four essential ingredients: Choose a career you love, give it the best there is in you, seize your opportunities, and be a member of the team.</p>
      <footer>Benjamin Franklin Fairless</footer>
      </blockquote>
      
      <h5>chefConnect was built to so that professionals could come together to build a collective database that each individual can use to increase their own knowledge and skill.</h5>

    </div>

  </div>

  <div class="row">

    <div class="col-md-6 col-lg-6">

      <blockquote>
      <p>We are no longer in the dispensation of age and experience. We are in the era of knowledge and information. Information leads a true leader and a true leader leads others.</p>
      <footer>Israelmore Ayivor</footer>
      </blockquote>
      
      <h5>chefConnect allows professionals to take advantage of the resources in this day and age, it's a great opportunity you don't want to miss!</h5>

    </div>

    <div class="col-md-6 col-lg-6">

      <blockquote>
      <p>We now accept the fact that learning is a lifelong process of keeping abreast of change. And the most pressing task is to teach people how to learn.</p>
      <footer>Peter Drucker</footer>
      </blockquote>
      
      <h5>chefConnect will help keep you ahead by increasing the resources at your disposal.</h5>

    </div>

  </div>

</div>