<nav class="navbar navbar-default nav-onLoad">

  <div class="navbar-header">

      <a class="navbar-brand" href="#/">Brand</a>

  </div>

  <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="#/" class="logAndReg">Login</a></li>
    <li role="presentation" class="active"><a href="#/register" class="logAndReg">Register</a></li>
  </ul>

</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-10 sign-up-form">
      
    </div>
  </div>
</div>