
<nav class="navbar navbar-default nav-onLoad">

  <div class="navbar-header">

      <a class="navbar-brand" href="#/">chefConnect</a>

  </div>

  <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="#/" class="logAndReg">Login</a></li>
    <li role="presentation" class="active"><a href="#/register" class="logAndReg">Register</a></li>
  </ul>

</nav>
<div class="superior-form-container">
<div class="container-fluid  form-container">
  <form>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-5 col-lg-5">
          <div class="join-team-container text-center">
            <h1 class="join-team">Join the Team!</h1>
          </div>
        </div>
      
    </div>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-4 col-lg-4">
          <div class="email-container">
            <label for="newUserEmal">Email address</label>
            <input type="email" class="form-control" placeholder="Email" ng-model="emailInputReg">  
          </div>
        </div>
      
    </div>

    <div class="row">
      
        <div class="form-group col-xs-12 col-md-4 col-lg-4">
          <div class="email-container">
            <label for="newUserPass">Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="passInputReg">
          </div>
        </div>
      
    </div>

    <div class="row">
      <div class="col-xs-5 col-md-4 col-lg-4 text-right">
        <button  type="button" class="btn btn-default btn-lg pull-right" ng-click="createUser(newUserObj)">Create</button>
      </div>
    </div>

  </form>

</div>
</div>